.container .card-weather {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}
.container .card-weather .header {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 10fr 1fr;
}
.container .card-weather .header .favorite,
.container .card-weather .header .get {
  border: none;
  background: none;
}
.container .card-weather .header .favorite img,
.container .card-weather .header .get img {
  width: 100%;
}
.container .card-weather .header .favorite:active,
.container .card-weather .header .get:active {
  outline: none;
}
.container .card-weather .header input {
  border-radius: 10px;
  padding: 0 10px;
  border-color: royalblue;
}
.container .card-weather .header input:focus {
  outline: none;
}
.container .card-weather-main {
  background: -webkit-gradient(linear, left top, left bottom, from(#18a1da), to(#2886d8));
  background: linear-gradient(180deg, #18a1da, #2886d8);
  color: white;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.container .card-weather-main .city {
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
}
.container .card-weather-main .wrapper-cel-img {
  font-size: 40px;
  font-weight: 700;
  width: 50%;
  margin: 0 auto;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr 1fr;
}
.container .card-weather-main .wrapper-cel-img .grid-child {
  justify-self: center;
}
.container .card-weather-main .description {
  font-weight: 700;
  font-size: 20px;
}
.container .card-weather-main .feel {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 500;
}
.container .card-weather-main .warning {
  display: none;
  width: 100%;
  padding: 40px;
  background: #dc143c;
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.container .card-weather .subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.container .card-weather .subtitle .block {
  display: grid;
  justify-items: center;
}
.container .card-weather .subtitle .block img {
  width: 40px;
}
.container .card-weather .subtitle .block span {
  font-weight: 500;
  font-size: 14px;
}
.container .card-weather-other {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  font-weight: 600;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.container .card-weather-other .card-day {
  border-bottom: 2px solid #18a1da;
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
.container .card-weather-other .card-day:last-child {
  border: none;
}
.container .card-weather-other .card-day p {
  text-align: left;
  margin: 0;
}
.container .card-weather-other .card-day-text .date {
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
}
.container .card-weather-other .card-day-text .week-day {
  font-weight: 700;
  font-size: 20px;
}
.container .card-weather-other .card-day-celsius {
  text-align: right;
  font-size: 25px;
  font-weight: 700;
}
.loading {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 100%;
  display: none;
}
.loading .load-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(10px) translateY(-50%);
          transform: translateX(10px) translateY(-50%);
}
.cssload-loader {
  position: relative;
  left: calc(-58%);
  width: 216px;
  height: 216px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-perspective: 2700px;
          perspective: 2700px;
}
.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 0.95s linear infinite;
  -o-animation: cssload-rotate-one 0.95s linear infinite;
  -ms-animation: cssload-rotate-one 0.95s linear infinite;
  -webkit-animation: cssload-rotate-one 0.95s linear infinite;
  -moz-animation: cssload-rotate-one 0.95s linear infinite;
  border-bottom: 10px solid #22a0da;
}
.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 0.95s linear infinite;
  -o-animation: cssload-rotate-two 0.95s linear infinite;
  -ms-animation: cssload-rotate-two 0.95s linear infinite;
  -webkit-animation: cssload-rotate-two 0.95s linear infinite;
  -moz-animation: cssload-rotate-two 0.95s linear infinite;
  border-right: 10px solid #22a0da;
}
.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 0.95s linear infinite;
  -o-animation: cssload-rotate-three 0.95s linear infinite;
  -ms-animation: cssload-rotate-three 0.95s linear infinite;
  -webkit-animation: cssload-rotate-three 0.95s linear infinite;
  -moz-animation: cssload-rotate-three 0.95s linear infinite;
  border-top: 10px solid #239fd9;
}
@keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
